* {
  text-align: center;
}
.any {
width: 500px;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
background-color: aqua;
}

 h1,footer p {
  background-color: red;
 }

 footer p {
   padding: 1rem;
 }